@model Stemma.Models.Career

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Career</h4>
    <hr />
    @*<dl class="dl-horizontal">*@
    @*<dt>
            @Html.DisplayNameFor(model => model.AttendedCollege)
        </dt>*@

    @*<dd>
            @Html.DisplayFor(model => model.AttendedCollege)
        </dd>*@

    @*when you cut and paste: Make sure Model is capitalized.*@
    @*everything should look like the AttendedCollege example*@

    @*@Html.DisplayFor(model => model.AttendedCollege)*@

    @if (Model.AttendedCollege == true)
    {
        <p>
            High school graduation.
        </p>
    }
    if (item.AttendedCollege == true)
    {
    <p>
        Being dropped off at college.
    </p>
    }
    if (item.AttendedCollege == true)
    {
    <p>
        Your first frat party.
    </p>
    }
    if (item.AttendedCollege == true)
    {
    <p>
        Memories from a big game.
    </p>
    }
    if (item.AttendedCollege == true)
    {
    <p>
        A story about your thesis.
    </p>
    }
    if (item.Graduations == true)
    {
    <p>
        Your college graduation.
    </p>
    }
    if (item.AttendedCollege == true)
    {
    <p>
        Stories about post-graduation education.
    </p>
    }


    if (item.HadJob == true)
    {
    <p>
        Your best day at work.
    </p>
    }
    if (item.HadJob == true)
    {
    <p>
        The first time you quit a job (or got fired!).
    </p>
    }

    if (item.HaveJob == true)
    {
    <p>
        Your current job.
    </p>
    }

    if (item.Accomplishments == true)
    {
    <p>
        A career highlight.
    </p>
    }
    if (item.Accomplishments == true)
    {
    <p>
        Your favorite boss or colleague.
    </p>
    }

    if (item.FirstDayOfSchool == true)
    {
    <p>
        Your first day of school.
    </p>
    }
    if (item.FirstDayOfSchool == true)
    {
    <p>
        Your favorite class.
    </p>
    }
    if (item.FirstDayOfSchool == true)
    {
    <p>
        Your favorite teacher.
    </p>
    }

    if (item.ArmedForces == true)
    {
    <p>
        Experiences in the armed forces.
    </p>
    }

    if (item.Volunteer == true)
    {
    <p>
        A favorite volunteer activity.
    </p>
    }
    if (item.Volunteer == true)
    {
    <p>
        A person or organization you served.
    </p>
    }

    if (item.Legacies == true)
    {
    <p>
        Involvement in the community.
    </p>
    }
    if (item.Legacies == true)
    {
    <p>
        A time you were a groundbreaker.
    </p>
    }

    if (item.TechSchool == true)
    {
    <p>
        Your experience at your technical/trade school.
    </p>
    }
    if (item.TechSchool == true)
    {
    <p>
        A project you completed at your technical/trade school.
    </p>
    }

    if (item.LicensesCertifications == true)
    {
    <p>
        Taking or passing an important professional exam.
    </p>
    }
    if (item.LicensesCertifications == true)
    {
    <p>
        Obtaining a professional license or certification.
    </p>
    }

    if (item.FirstJob == true)
    {
    <p>
        Your first job.
    </p>
    }

    if (item.WorstJob == true)
    {
    <p>
        Your worst job.
    </p>
    }
    if (item.WorstJob == true)
    {
    <p>
        A funny story from work.
    </p>
    }



    @*<dt>
            @Html.DisplayNameFor(model => model.Graduations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaveJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaveJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HadJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HadJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accomplishments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accomplishments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstDayOfSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstDayOfSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArmedForces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmedForces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Legacies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Legacies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicensesCertifications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicensesCertifications)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorstJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorstJob)
        </dd>*@

    @*</dl>*@
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CareerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
