@model IEnumerable<Stemma.Models.Career>

@{
    ViewBag.Title = "Career Profile";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model) {
    
            @Html.DisplayFor(modelItem => item.AttendedCollege)
        
            @Html.DisplayFor(modelItem => item.Graduations)
        
            @Html.DisplayFor(modelItem => item.HaveJob)
        
            @Html.DisplayFor(modelItem => item.HadJob)
        
            @Html.DisplayFor(modelItem => item.Accomplishments)
        
            @Html.DisplayFor(modelItem => item.FirstDayOfSchool)
        
            @Html.DisplayFor(modelItem => item.ArmedForces)
        
            @Html.DisplayFor(modelItem => item.Volunteer)
        
            @Html.DisplayFor(modelItem => item.Legacies)
        
            @Html.DisplayFor(modelItem => item.TechSchool)
        
            @Html.DisplayFor(modelItem => item.LicensesCertifications)
        
            @Html.DisplayFor(modelItem => item.FirstJob)
        
            @Html.DisplayFor(modelItem => item.WorstJob)
    <p>
            @Html.ActionLink("Edit", "Edit", new { id=item.CareerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CareerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CareerID })
    </p>
}
