@{
    ViewBag.Title = "About Stemma";
}
@*<h3>@ViewBag.Message</h3>*@

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
        <p>Overwhelmed by gigs of data from capturing every special moment? 
        Or do you forget to take photos and commemorate major life events? 
        Want to share stories of your life and leave advice for future generations, but don't know how? 
        Our guided system will help you build a profile and create a curated timeline you can slowly build overtime, 
        little by little and bit by byte. Capturing the moments, people, places, and everything in between that makes 
        your life special is made easy with Stemma.</p>
</div>


@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()

    <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="CategoryRow1">
            <div class="col-md-4">
                <div class="box">
                    <div class="icon-wrapper">
                            <i class="custom-icon-stacey">
                                    <span class="fix-editor">&nbsp;</span>
                            </i>
                    </div>
                    <h4>
                        <a href="https://www.linkedin.com/in/staceyspikes">Stacey Spikes</a>
                    </h4>
                    <p>
                        In just 20 short weeks, I went from never having written a line of code, or even knowing where it would take me, to writing my own console applications and creating my own websites! In addition to my new-found passion to learn coding, I enjoy the outdoors and traveling.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="icon-wrapper">
                        <i class="custom-icon-gabrielle">
                            <span class="fix-editor">&nbsp;</span>
                        </i>
                    </div>
                    <h4>
                        <a href="https://www.linkedin.com/in/gabriellesudik/">Gabrielle Sudik</a>
                    </h4>
                    <p>
                        I want a career that forces me to change as the world around me changes, and software development gives me the perfect opportunity! And I'll still get to use the soft skills I developed in my previous profession: teamwork, leadership, communication, planning, organization, consulting, and delivering a product to clients.
                    </p>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="icon-wrapper">
                        <i class="custom-icon-devion">
                            <span class="fix-editor">&nbsp;</span>
                        </i>
                    </div>
                    <h4>
                        <a href="https://www.linkedin.com/in/devionfothergill/">Devion Fothergill</a>
                    </h4>
                    <p>
                        I LOVE front end development because I like to be creative and the front end is where I can express my creativity and show others my ideas.
                    </p>
                    </div>
                </div>
        </div>
        <div class="CategoryRow2">
            <div class="col-md-4">
                <div class="box">
                    <div class="icon-wrapper">
                        <i class="custom-icon-holly">
                            <span class="fix-editor">&nbsp;</span>
                        </i>
                    </div>
                    <h4>
                        <a href="https://www.linkedin.com/in/hollynlittle/">Holly Little</a>
                    </h4>
                    <p>
                        After graduating with a BFA from Miami University, I raised two boys and worked in education and customer service.  I am currently a Customer Resolution Specialist, and am both nervous and excited about all of the possibilities to which this experience may lead.
                    </p>
                </div>
                </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="icon-wrapper">
                        <i class="custom-icon-dana">
                            <span class="fix-editor">&nbsp;</span>
                        </i>
                    </div>
                    <h4>
                        <a href="https://www.linkedin.com/in/dana-deming-jr/">Dana Deming, Jr.</a>
                    </h4>
                    <p>
                        I've always had a passion for new technology, so enrolling in a coding bootcamp seemed like an obvious step to make a career change. I've learned so much in a short amount of time, and I haven't even scratched the surface of what I can do!
                    </p>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="icon-wrapper">
                        <i class="custom-icon-amy">
                            <span class="fix-editor">&nbsp;</span>
                        </i>
                    </div>
                    <h4>
                        <a href="https://www.linkedin.com/in/amy-thompson9/">Amy Thompson</a>
                    </h4>
                    <p>
                        I am a so happy to be coding and to have found a skill that perfectly combines my left and right brain. I have long been searching for a way to be creative, solve problems, build things, and be forever learning and challenging myself.
                    </p>
                    </div>
                </div>
        </div>
        
        @*<div class="form-group">
            @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
            </div>
            @*<div class="form-group">
                    @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RegisterUserID, "RegisterUserID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("RegisterUserID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RegisterUserID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RelationshipsID, "RelationshipsID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("RelationshipsID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RelationshipsID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CareerID, "CareerID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CareerID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CareerID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CelebrationID, "CelebrationID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CelebrationID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CelebrationID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HobbyID, "HobbyID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("HobbyID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HobbyID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MemoryID, "MemoryID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MemoryID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MemoryID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WorldEventID, "WorldEventID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("WorldEventID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WorldEventID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EventID, "EventID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("EventID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EventID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>*@
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/aboutCSS.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
}

    @*<footer>
        <p>&copy; @DateTime.Now.Year - Stemma</p>
    </footer>*@

<div id="navaay" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Stemma", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @*@Html.ActionLink("Timeline", "Index", "EventTables", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Timeline","Index","EventTables")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                @*<li>@Html.ActionLink("FAQ", "Contact", "Home")</li>*@
                @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                <li>@Html.ActionLink("Profile", "Create", "UserProfiles")</li>
                <li>@Html.ActionLink("Create Event", "Create", "EventTables")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
