<div id="leaf-landing-page">


    @{
        ViewBag.Title = "Stemma";
    }
    <div class="jumbotron">
        <h1>STEMMA</h1>
        <h2 class="lead">
            Capturing the moments, people, places, and everything in between that makes your life special
            is made easy with Stemma.
        </h2>
        <div class="cta">
            <a class="btn btn-success" href="~/Views/Account/Register.cshtml"> <i class="fa fa-envira" style="font-size:15px"></i>Get started</a>
        </div>
    </div>

    <div class="row" id="landing-page-text-boxes">
        <div class="col-md-3">
            <h3>The little things...</h3>
            <p>
                How do you capture life's little everyday moments? Do you need reminders to take a picture with a friend or family member? Do you want to record a story or a song? Never forget a moment with the help of Stemma.
            </p>
            @*<p><a class="btn btn-default">Get started &raquo;</a></p>*@
        </div>
    </div>
<div class="row">
    <div class="col-md-3">
        <h3>The little things...</h3>
        <p>
            How do you capture life's little everyday moments? Do you need reminded to take a picture with a friend or family member? Do you want to record a story or a song? Never forget a moment with the help of Stemma.
        </p>
        <p><a class="btn btn-default">Get started &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>The big things...</h3>
        <p>Record all of those major life-changing moments - weddings, graduations, births, a new job, and buying a house - what changed in your life and what changed you. Keep track of it all with Stemma.</p>
        <p><a class="btn btn-default">Get started &raquo;</a></p>
        @*<input type="submit" value="Get started" &raquo; class="btn btn-default" />*@
    </div>
    <div class="col-md-3">
        <h3>What came before...</h3>
        <p>Begin to archive your family history. Upload pictures, create events, record a family history, and organize it in one place with the help of Stemma.</p>
        <p><a class="btn btn-default" >Get started &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>...and what is to come.</h3>
        <p>Leave life lessons, stories, and memories for future generations. Preserve your history for your loved ones with the help of Stemma.</p>
        <p><a class="btn btn-default" @*href=*@>Get started &raquo;</a></p>
    </div>
</div>
@*Put navbar onto media page and make the timeline go to the index of the event table*@
<div id="navaay"class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("Stemma", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            @*@Html.ActionLink("Timeline", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div id="navaay"class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>@Html.ActionLink("Stemma", "Index", "Home")</li>
                
            </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @*<li>@Html.ActionLink("FAQ", "Contact", "Home")</li>*@
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @*<li>@Html.ActionLink("Profile", "Create", "UserProfiles")</li>
                    <li>@Html.ActionLink("Create Event", "Create", "EventTables")</li>*@
                    <li>@Html.Partial("_LoginPartial")</li> 
            </ul>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Stemma</p>
    </footer>

</div>
