@model Stemma.Models.Memory

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Memory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrokenBones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrokenBones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriversLicense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriversLicense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstTooth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstTooth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalNickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalNickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyNickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyNickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RideBike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RideBike)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommitCrime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommitCrime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BigMove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BigMove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyTraditions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyTraditions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmbarrassingMoment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmbarrassingMoment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProudestMoments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProudestMoments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildhoodCamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildhoodCamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemorializeSomeone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemorializeSomeone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concerts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concerts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyPet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyPet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HSDance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HSDance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnythingElse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnythingElse)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
