@model Stemma.Models.Memory

@{
    ViewBag.Title = "Suggestions for Memories Stems";
}

<h2>Memories</h2>

<div>
    <h4>Based on your answers, here are some ideas to add to your Stemma:</h4>
    <hr />

    @if (Model.BrokenBones == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.OwnHome)
        </td>*@
    @if (Model.OwnHome == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.DriversLicense)
        </td>*@
    @if (Model.DriversLicense == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.FirstTooth)
        </td>*@
    @if (Model.FirstTooth == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.PersonalNickName)
        </td>*@
    @if (Model.PersonalNickName == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.FamilyNickName)
        </td>*@
    @if (Model.FamilyNickName == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.RideBike)
        </td>*@
    @if (Model.RideBike == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.CommitCrime)
        </td>*@
    @if (Model.CommitCrime == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.BigMove)
        </td>*@
    @if (Model.BigMove == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.Vote)
        </td>*@
    @if (Model.Vote == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.FamilyTraditions)
        </td>*@
    @if (Model.FamilyTraditions == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.EmbarrassingMoment)
        </td>*@
    @if (Model.EmbarrassingMoment == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.ProudestMoments)
        </td>*@
    @if (Model.ProudestMoments == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.ChildhoodCamp)
        </td>*@
    @if (Model.ChildhoodCamp == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.MemorializeSomeone)
        </td>*@
    @if (Model.MemorializeSomeone == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.Concerts)
        </td>*@
    @if (Model.Concerts == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.FamilyPet)
        </td>*@
    @if (Model.FamilyPet == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.CurrentPet)
        </td>*@
    @if (Model.CurrentPet == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.HSDance)
        </td>*@
    @if (Model.HSDance == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

    @*<td>
            @Html.DisplayFor(modelItem => item.AnythingElse)
        </td>*@
    @if (Model.AnythingElse == true)
    {
    <p>
        You remember when humans landed on the moon.
    </p>
    }
    @*else
    {
    <p>
        You do not remember when humans landed on the moon.
    </p>
    }*@

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
