@model Stemma.Models.Memory
<link href="~/Content/detailsCSS.css" rel="stylesheet" />
@{
    ViewBag.Title = "Suggestions for Memories Stems";
}

<h2>Memories & Stories</h2>

<div>
    <h4>Based on your answers, here are some ideas to add to your Stemma:</h4>
    <hr />
    <div class="rowDetails">
        @if (Model.BrokenBones == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You've had a broken bone or similar injury. What is the story of...</h4>
                    <p>
                        your first broken bone.
                    </p>
                    <p>
                        a hospital stay or surgery.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.OwnHome)
            </td>*@
        @if (Model.OwnHome == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You are a home owner. Post about...</h4>
                    <p>
                        your current home.
                    </p>
                    <p>
                        a previous home(s).
                    </p>
                    <p>
                        when you moved out of your parents' house.
                    </p>
                    <p>
                        an important lesson you learned about home ownership.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.DriversLicense)
            </td>*@
        @if (Model.DriversLicense == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You can drive a car. Remember when...</h4>
                    <p>
                        you got your driver's license.
                    </p>
                    <p>
                        you took your first road trip.
                    </p>
                    <p>
                        you bought your first car.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.FirstTooth)
            </td>*@
        @if (Model.FirstTooth == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You have a story about losing a tooth. Is it...</h4>
                    <p>
                        a story about your first tooth...
                    </p>
                    <p>
                        or your last tooth...
                    </p>
                    <p>
                        or anything in between.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>        
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.PersonalNickName)
            </td>*@
        @if (Model.PersonalNickName == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You have a nickname. What is...</h4>
                    <p>
                        the story behind your nickname.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.FamilyNickName)
            </td>*@
        @if (Model.FamilyNickName == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>Someone in your life has a nickname. Post about...</h4>
                    <p>
                        how that person earned this nickname.
                    </p>
                    <p>
                        if they like this nickname.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>        
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.RideBike)
            </td>*@
        @if (Model.RideBike == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You can ride a bike. Did you...</h4>
                    <p>
                        have anyone teach you.
                    </p>
                    <p>
                        earn any scars from learning to ride.
                    </p>
                    <p>
                        have a favorite bike trip.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.CommitCrime)
            </td>*@
        @if (Model.CommitCrime == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You committed a crime. Was there...</h4>
                    <p>
                        a funny story or misunderstanding.
                    </p>
                    <p>
                        an important lesson you learned.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.BigMove)
            </td>*@
        @if (Model.BigMove == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You've made a big change in your life. Was it...</h4>
                    <p>
                        a positive or negative change.
                    </p>
                    <p>
                        a big move? divorce? a new relationship
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.Vote)
            </td>*@
        @if (Model.Vote == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You excercise your right to vote. When was...</h4>
                    <p>
                        the first time you voted.
                    </p>
                    <p>
                        there an election that was important to you.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.FamilyTraditions)
            </td>*@
        @if (Model.FamilyTraditions == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You have family traditions that are important to you. Do these...</h4>
                    <p>
                        traditions have an origin story.
                    </p>
                    <p>
                        happen annually or are connected to another event.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.EmbarrassingMoment)
            </td>*@
        @if (Model.EmbarrassingMoment == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You want to share an embarrassing moment. What...</h4>
                    <p>
                        made it so embarrassing.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.ProudestMoments)
            </td>*@
        @if (Model.ProudestMoments == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You are very proud of something. Post about...</h4>
                    <p>
                        something you did that makes you very proud.
                    </p>
                    <p>
                        your journey to this accomplishment.
                    </p>
                    <p>
                        what you learned along the way.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.ChildhoodCamp)
            </td>*@
        @if (Model.ChildhoodCamp == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You went to camp in your childhood. Did you...</h4>
                    <p>
                        meet any life-long friends.
                    </p>
                    <p>
                        go every year.
                    </p>
                    <p>
                        learn anything cool.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.MemorializeSomeone)
            </td>*@
        @if (Model.MemorializeSomeone == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You would like to commemorate someone in your life. Will this be...</h4>
                    <p>
                        a tribute to someone you've lost, and want to remember.
                    </p>
                    <p>
                        a tribute to someone who is still around, and you'd like to honor.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.Concerts)
            </td>*@
        @if (Model.Concerts == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You go to concerts. What was...</h4>
                    <p>
                        your first concert.
                    </p>
                    <p>
                        your favorite concert.
                    </p>
                    <p>
                        the worst concert you went to.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.FamilyPet)
            </td>*@
        @if (Model.FamilyPet == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You had a childhood pet. Post about...</h4>
                    <p>
                        stories and adventures with your pet(s).
                    </p>
                    <p>
                        your favorite pet.
                    </p>
                    <p>
                        how you named your pet.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.CurrentPet)
            </td>*@
        @if (Model.CurrentPet == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You have a pet! Post about...</h4>
                    <p>
                        the day you got your pet.
                    </p>
                    <p>
                        your favorite pet(s).
                    </p>
                    <p>
                        what you decided to name your pet.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.HSDance)
            </td>*@
        @if (Model.HSDance == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You went to dances in high school. Make a post about...</h4>
                    <p>
                        your first high school dance.
                    </p>
                    <p>
                        your favorite high school dance.
                    </p>
                    <p>
                        a fun high school date.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

        @*<td>
                @Html.DisplayFor(modelItem => item.AnythingElse)
            </td>*@
        @if (Model.AnythingElse == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>We missed something important to you. Post...</h4>
                    <p>
                        other favorite or important memories.
                    </p>
                    <p>
                        inside jokes.
                    </p>
                    <p>
                        how you met someone important to you.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @*else
            {
            <p>
                You do not remember when humans landed on the moon.
            </p>
            }*@

    </div>
</div>
<p>
    @Html.ActionLink("Update Your Memories & Stories", "Edit", new { id = Model.MemoryID }) |
    @Html.ActionLink("Return To Your Profile", "Create", "UserProfiles")
</p>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("Stemma", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            @Html.ActionLink("Timeline", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Get Started", "Contact", "Home")</li>*@
                <li>@Html.ActionLink("Profile", "Create", "UserProfiles")</li>
                <li>@Html.ActionLink("Create Event", "Create", "EventTables")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("FAQ", "Contact", "Home")</li>
            </ul>

        </div>
    </div>
</div>
