@model IEnumerable<Stemma.Models.Memory>

@{
    ViewBag.Title = "Memories Profile";
}

<h2>Your Memories</h2>

@*need to add text. logic done.*@

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@*<table class="table">*@


@foreach (var item in Model)
{
    @*<tr>*@
    @*<td>
            @Html.DisplayFor(modelItem => item.BrokenBones)
        </td>*@
if (item.BrokenBones == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.OwnHome)
        </td>*@
if (item.OwnHome == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.DriversLicense)
        </td>*@
if (item.DriversLicense == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.FirstTooth)
        </td>*@
if (item.FirstTooth == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.PersonalNickName)
        </td>*@
if (item.PersonalNickName == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.FamilyNickName)
        </td>*@
if (item.FamilyNickName == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.RideBike)
        </td>*@
if (item.RideBike == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.CommitCrime)
        </td>*@
if (item.CommitCrime == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.BigMove)
        </td>*@
if (item.BigMove == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.Vote)
        </td>*@
if (item.Vote == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.FamilyTraditions)
        </td>*@
if (item.FamilyTraditions == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.EmbarrassingMoment)
        </td>*@
if (item.EmbarrassingMoment == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.ProudestMoments)
        </td>*@
if (item.ProudestMoments == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.ChildhoodCamp)
        </td>*@
if (item.ChildhoodCamp == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.MemorializeSomeone)
        </td>*@
if (item.MemorializeSomeone == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.Concerts)
        </td>*@
if (item.Concerts == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.FamilyPet)
        </td>*@
if (item.FamilyPet == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.CurrentPet)
        </td>*@
if (item.CurrentPet == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.HSDance)
        </td>*@
if (item.HSDance == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    @*<td>
            @Html.DisplayFor(modelItem => item.AnythingElse)
        </td>*@
if (item.AnythingElse == true)
{
    <p>
        You remember when humans landed on the moon.
    </p>
}
else
{
    <p>
        You do not remember when humans landed on the moon.
    </p>
}

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = item.MemoryID }) |
        @Html.ActionLink("Details", "Details", new { id = item.MemoryID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MemoryID })
    </p>
    @*</tr>*@
}

@*</table>*@

    