@model Stemma.Models.WorldEvent
<link href="~/Content/detailsCSS.css" rel="stylesheet" />
<link href="~/Content/LeafStyles.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewBag.Title = "Suggestions for World Events Stems";
}

<div class="detailsHeading">
    <h1>World Events</h1>
    <h3>Based on your answers, here are some ideas to add to your Stemma:</h3>
</div>

<div>
    <div class="rowDetails">
        @if (Model.September11 == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You remember September 11, 2001. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            remember where you were when you heard the news.
                        </li>
                        <li class="fa fa-envira">
                            have tribute to someone or something you lost on September 11, 2001.
                        </li>
                        <li class="fa fa-envira">
                            remember how things changed after 9-11.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.MoonLanding == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You remember the Apollo 11 Moon Landing. Post about...</h4>
                    <ul>

                        <li class="fa fa-envira">
                            the Space Race. &nbsp;&nbsp;
                        </li>

                        <li class="fa fa-envira">
                            watching the Moon Landing.
                        </li>
                        @*you needed the extra spaces because the two lines were showing on one row. *@
                        <li class="fa fa-envira">
                            the way things changed after the Moon Landing.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.NixonResigns == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You remember when Richard Nixon resigned. Post about...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            where you were when you heard that President Nixon resigned.
                        </li>
                        <li class="fa fa-envira">
                            the atmosphere leading up to his resignation.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.ElvisDies == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You remember the death of Elvis Presley. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            remember when you learned that Elvis Presley had died.
                        </li>
                        <li class="fa fa-envira">
                            have an audio or video clip of your favorite Elvis song.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.ChallengerExplodes == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You remember when the Challenger Space Shuttle exploded. Make a post about...</h4>

                    <ul>
                        <li class="fa fa-envira">
                            how you learned about this event.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.WorldWar2Ends == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You remember the events of World War II. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            have memories of the end of World War II.
                        </li>
                        <li class="fa fa-envira">
                            know how your life changed because of or after the War.
                        </li>
                        <li class="fa fa-envira">
                            know someone who served in the Armed Forces.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.KennedyDies == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You remember the assassination of John Kennedy. Post about...</h4>

                    <ul>
                        <li class="fa fa-envira">
                            where you were when you learned that President Kennedy had been assassinated.
                        </li>
                        <li class="fa fa-envira">
                            the reaction to this event accross the nation.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.NotableElection == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You remember an important election. Post about...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            the event leading up to the election.
                        </li>
                        <li class="fa fa-envira">
                            why this was an important election.
                        </li>
                        <li class="fa fa-envira">
                            the effects of the outcome.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.MLKAssassination == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You remember the assassination of Martin Luther King Jr. Do you remember...</h4>

                    <ul>
                        <li class="fa fa-envira">
                            where you were when you learned that he had been assassinated.
                        </li>
                        <li class="fa fa-envira">
                            how it affected the country.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.Y2K == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You remember Y2K. Did you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            party like it was 1999.
                        </li>
                        <li class="fa fa-envira">
                            take steps to prevent the "Y2K" computer disaster.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.BerlinWall == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You remember the Berlin Wall. Make a post for...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            where you were when you learned the Berlin Wall was torn down.
                        </li>
                        <li class="fa fa-envira">
                            life during the Cold War.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.OJSimpsonCarChase == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You remember the OJ Simpson car chase. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            know where you were when you heard about it.
                        </li>
                        <li class="fa fa-envira">
                            remember the verdict.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.EndOfProhibition == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You remember the Prohibition Era. Do you have stories...</h4>

                    <ul>
                        <li class="fa fa-envira">
                            of Prohibition, and its end.
                        </li>
                        <li class="fa fa-envira">
                            about your first legal drink after Prohibition ended.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.AnythingElse == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>We missed something that was important to you. Post about...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            any other memories of world events.
                        </li>
                        <li class="fa fa-envira">
                            the last episode of Seinfeld.
                        </li>
                        <li class="fa fa-envira">
                            life during the Vietnam War.
                        </li>
                        <li class="fa fa-envira">
                            wardrobe malfunctions.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-4 resultBox">
            <div class="thumbnail">
                <h4>
                    @Html.ActionLink("Change Your Suggestions", "Edit", new { id = Model.WorldEventID })
                </h4>
                <h4>
                    @Html.ActionLink("Return To Your Profile", "Create", "UserProfiles")
                </h4>
            </div>
        </div>
    </div>
</div>


<div id="navaay" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Stemma", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @*@Html.ActionLink("Timeline", "Index", "EventTables", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Timeline", "Index", "EventTables")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                    @*<li>@Html.ActionLink("FAQ", "Contact", "Home")</li>
                @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Get Started", "Contact", "Home")</li>*@
                <li>@Html.ActionLink("Profile", "Create", "UserProfiles")</li>
                <li>@Html.ActionLink("Create Event", "Create", "EventTables")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>