@model IEnumerable<Stemma.Models.WorldEvent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.September11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoonLanding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NixonResigns)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElvisDies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChallengerExplodes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorldWar2Ends)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KennedyDies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotableElection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MLKAssassination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y2K)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BerlinWall)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OJSimpsonCarChase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndOfProhibition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnythingElse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.September11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoonLanding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NixonResigns)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElvisDies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChallengerExplodes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorldWar2Ends)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KennedyDies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotableElection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MLKAssassination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y2K)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BerlinWall)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OJSimpsonCarChase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndOfProhibition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnythingElse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorldEventID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorldEventID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorldEventID })
        </td>
    </tr>
}

</table>
