@model Stemma.Models.Relationship
<link href="~/Content/detailsCSS.css" rel="stylesheet" />
<link href="~/Content/LeafStyles.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewBag.Title = "Suggestions for Relationship Stems";
}

<div class="detailsHeading">
    <h1>Family & Relationships</h1>
    <h3>Based on your answers, here are some ideas to add to your Stemma:</h3>
</div>

<div>
    <div class="rowDetails">
        @if (Model.CurrentlyMarried == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You are married. Post about...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            when and how you met your spouse.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="fa fa-envira">
                            your engagement. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="fa fa-envira">
                            your wedding day. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="fa fa-envira">
                            your honeymoon. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="fa fa-envira">
                            anniversary celebrations.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.InARelationship == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You are in a relationship. Do you remember...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            when and how you met your partner.
                        </li>
                        <li class="fa fa-envira">
                            special dates. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="fa fa-envira">
                            significant events and trips.
                        </li>
                        <li class="fa fa-envira">
                            meeting their family. &nbsp;&nbsp;
                        </li>
                        <li class="fa fa-envira">
                            how an inside joke began.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.PreviousRomance == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You've been in a relationship before. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            remember how you met them.
                        </li>
                        <li class="fa fa-envira">
                            how long you were together.
                        </li>
                        <li class="fa fa-envira">
                            learn anything about yourself.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.HaveChildren == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You have a child/children. Remember when...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            they were born. &nbsp;&nbsp;
                        </li>
                        <li class="fa fa-envira">
                            they had significant milestones in their life.
                        </li>
                        <li class="fa fa-envira">
                            they accomlished something.
                        </li>
                        <li class="fa fa-envira">
                            they did something weird or funny.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (Model.HaveGrandchildren == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You have a grandchild/grandchildren. Post about...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            the birth of a grandchild.
                        </li>
                        <li class="fa fa-envira">
                            memories and stories of a grandchild.
                        </li>
                        <li class="fa fa-envira">
                            important advice you wish to give them.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }


        @if (Model.OtherYoungsters == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You have other significant young people in your life. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            have memories and stories of them you can share.
                        </li>
                        <li class="fa fa-envira">
                            remember when they came into your life.
                        </li>
                        <li class="fa fa-envira">
                            advice you can leave for them.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }


        @if (Model.HaveParents == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You have parents. Do you know...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            when and how your parents met.
                        </li>
                        <li class="fa fa-envira">
                            when (if) your parents married.
                        </li>
                        <li class="fa fa-envira">
                            of any funny stories to share.
                        </li>
                        <li class="fa fa-envira">
                            the most important lesson you learned from them.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }


        @if (Model.HaveGrandparents == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You have grandparents. Post about...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            when and how your grandparents met.
                        </li>
                        <li class="fa fa-envira">
                            when (if) your grandparents married.
                        </li>
                        <li class="fa fa-envira">
                            memories of your grandparents.
                        </li>
                        <li class="fa fa-envira">
                            something you learned from them.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }


        @if (Model.OtherAdults == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You have other adults in your life. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            know why they are important to you.
                        </li>
                        <li class="fa fa-envira">
                            their birthday? &nbsp;&nbsp;
                        </li>
                        <li class="fa fa-envira">
                            treasure something they gave you.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }


        @if (Model.HaveSiblings == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You have siblings. Post about...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            when a sibling was born.
                        </li>
                        <li class="fa fa-envira">
                            a time you helped your sibling, or your sibling helped you.
                        </li>
                        <li class="fa fa-envira">
                            an inside joke. &nbsp;&nbsp;
                        </li>
                        <li class="fa fa-envira">
                            something you tease/taunted them for.
                        </li>
                        <li class="fa fa-envira">
                            why they are important to you.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }


        @if (Model.OtherCloseRelatives == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You have other important relatives. Do you know...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            when they were born. &nbsp;&nbsp;
                        </li>
                        <li class="fa fa-envira">
                            something important they taught you.
                        </li>
                        <li class="fa fa-envira">
                            any trips you might have taken together.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }


        @if (Model.GoodFriendships == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You have a made great friendships in your life. Is there...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            a moment you remember meeting.
                        </li>
                        <li class="fa fa-envira">
                            something speical you share.
                        </li>
                        <li class="fa fa-envira">
                            a time were you fought a lot?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }


        @if (Model.EverythingElse == true)
        {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>We missed someone special in your life. Write about...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            someone who you impacted.
                        </li>
                        <li class="fa fa-envira">
                            someone who changed you.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>
                        @Html.ActionLink("Change Your Suggestions", "Edit", new { id = Model.RelationshipsID })
                    </h4>
                    <h4>
                        @Html.ActionLink("Return To Your Profile", "Create", "UserProfiles")
                    </h4>
                </div>
            </div>
        }
    </div>
</div>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("Stemma", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            @Html.ActionLink("Timeline", "Index", "EventTables", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Get Started", "Contact", "Home")</li>*@
                <li>@Html.ActionLink("Profile", "Create", "UserProfiles")</li>
                <li>@Html.ActionLink("Create Event", "Create", "EventTables")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("FAQ", "Contact", "Home")</li>
            </ul>

        </div>
    </div>
</div>
