@model Stemma.Models.UserProfile


@{
    ViewBag.Title = "Create";
}

<h2>Create Your Profile</h2>


@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()

    <h4>Complete a simple questionaire in each of six categories to help build your Stemma.</h4>
        <hr />
        <div row="birthdateRow">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div row="CategoryRow1">
            <div class="col-md-4">
                <div class="icon-wrapper">
                    <i class="fa fa-users fa-5x custom-icon">
                        <span class="fix-editor">&nbsp;</span>
                    </i>
                </div>
                <h4>@Html.ActionLink("Relationships & Family", "Create", "Relationships")</h4>
                <p>
                    Your friends, loves, children, parents, and others we meet along the way are the people who shape who you are. Who are they, and how did they change you?
                </p>
            </div>
            <div class="col-md-4">
                <div class="icon-wrapper">
                    <i class="fa fa-graduation-cap fa-5x custom-icon">
                        <span class="fix-editor">&nbsp;</span>
                    </i>
                </div>
                <h4>@Html.ActionLink("Career & Education", "Create", "Careers")</h4>
                <p>
                    Schools, training, experience, and service define a large part of our lives. Where did you go? What did you see? Who did you meet? What did you learn?
                </p>
            </div>
            <div class="col-md-4">
                <div class="icon-wrapper">
                    <i class="fa fa-book fa-5x custom-icon">
                        <span class="fix-editor">&nbsp;</span>
                    </i>
                </div>
                <h4>@Html.ActionLink("Memories & Stories", "Create", "Memories")</h4>
                <p>
                    Ancedotes, inside jokes, nicknames, big moves, life changes, advice, life lessons - all the big and little things that make us unique.
                </p>
            </div>
        </div>
        <div row="CategoryRow2">
            <div class="col-md-4">
                <div class="icon-wrapper">
                    <i class="fa fa-lightbulb-o fa-5x custom-icon">
                        <span class="fix-editor">&nbsp;</span>
                    </i>
                </div>
                <h4>@Html.ActionLink("Hobbies & Interests", "Create", "HobbyTables")</h4>
                <p>
                    "What do you do?" can mean a lot of different things. What drives you? What do you do when you're not sleeping?
                </p>
            </div>
            <div class="col-md-4">
                <div class="icon-wrapper">
                    <i class="fa fa-gift fa-5x custom-icon">
                        <span class="fix-editor">&nbsp;</span>
                    </i>
                </div>
                <h4>@Html.ActionLink("Celebrations & Holidays", "Create", "Celebrations")</h4>
                <p>
                    You're the life of the party - but what do you celebrate, where, when, and how? 
                </p>
            </div>
            <div class="col-md-4">
                <div class="icon-wrapper">
                    <i class="fa fa-globe fa-5x custom-icon">
                        <span class="fix-editor">&nbsp;</span>
                    </i>
                </div>
                <h4>@Html.ActionLink("Where Were You When...", "Create", "WorldEvents")</h4>
                <p>
                    You only live once - and you have a unique perspective. How do you remember these event that changed the world, and how did these events change your world?
                </p>
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
            </div>
            @*<div class="form-group">
                    @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RegisterUserID, "RegisterUserID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("RegisterUserID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RegisterUserID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RelationshipsID, "RelationshipsID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("RelationshipsID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RelationshipsID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CareerID, "CareerID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CareerID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CareerID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CelebrationID, "CelebrationID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CelebrationID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CelebrationID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HobbyID, "HobbyID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("HobbyID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HobbyID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MemoryID, "MemoryID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MemoryID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MemoryID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WorldEventID, "WorldEventID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("WorldEventID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WorldEventID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EventID, "EventID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("EventID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EventID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>*@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
<link href="~/Content/fonawesomecss.css" rel="stylesheet" />
<link href="~/Content/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
      }