@model IEnumerable<Stemma.Models.UserProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Career.CareerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celebration.CelebrationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HobbyTable.HobbyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memory.MemoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relationship.RelationshipsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorldEvent.WorldEventID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTable.EventTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Birthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Career.CareerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celebration.CelebrationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HobbyTable.HobbyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memory.MemoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Relationship.RelationshipsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorldEvent.WorldEventID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventTable.EventTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserProfileID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserProfileID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserProfileID })
        </td>
    </tr>
}

</table>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("Stemma", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            @Html.ActionLink("Timeline", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Get Started", "Contact", "Home")</li>*@
                <li>@Html.ActionLink("Profile", "Create", "UserProfiles")</li>
                <li>@Html.ActionLink("Create Event", "Create", "EventTables")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("FAQ", "Contact", "Home")</li>
            </ul>

        </div>
    </div>
</div>