@model IEnumerable<Stemma.Models.HobbyTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaySports)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InAShow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Travel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutdoorPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelAbroad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Talents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trophies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exercise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyVacation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildhoodVacation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnythingElse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlaySports)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InAShow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Travel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutdoorPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelAbroad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Talents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trophies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exercise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyVacation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildhoodVacation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnythingElse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HobbyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HobbyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HobbyID })
        </td>
    </tr>
}

</table>
