@model Stemma.Models.Celebration

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Celebration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HolidayRecently)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolidayRecently)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartyRecently)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartyRecently)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MilestoneRecently)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MilestoneRecently)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateChristmas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateChristmas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateNYE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateNYE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateThanksgiving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateThanksgiving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateValentine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateValentine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateEaster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateEaster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateIndependenceDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateIndependenceDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateHalloween)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateHalloween)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateMemorialDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateMemorialDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateLaborDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateLaborDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateMothersDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateMothersDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateFathersDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateFathersDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateChaunakah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateChaunakah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebratePassover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebratePassover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateRoshHashanah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateRoshHashanah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelerateYomKippur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelerateYomKippur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateRamadan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateRamadan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateEID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateEID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateSTPat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateSTPat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateBirthdays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateBirthdays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateChineseNewYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateChineseNewYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateQuinceanera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateQuinceanera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateBarBatMitzvah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateBarBatMitzvah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateDayOfTheDead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateDayOfTheDead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateVeteransDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateVeteransDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelebrateCincoDeMayo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelebrateCincoDeMayo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnythingElse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnythingElse)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
