@model Stemma.Models.Celebration
<link href="~/Content/detailsCSS.css" rel="stylesheet" />
<link href="~/Content/LeafStyles.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewBag.Title = "Suggestions for Celebration Stems";
}

<div class="detailsHeading">
    <h1>Celebrations & Holidays</h1>
    <h3>Based on your answers, here are some ideas to add to your Stemma:</h3>
</div>

<div>
    <div class="rowDetails">
        @if (Model.HolidayRecently == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You've recently celebrated a holiday.</h4>
                    <ul>
                        <li class="fa fa-envira">
                            Post a picture.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }


        @if (Model.PartyRecently == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You recently attended a party.</h4>
                    <ul>
                        <li class="fa fa-envira">
                            Who did you go with?
                        </li>
                        <li class="fa fa-envira">
                            Was the food any good?
                        </li>
                        <li class="fa fa-envira">
                            Was it for another orgnaization or company?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.MilestoneRecently == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You recently celebrated a milestone. Talk about...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            how hard it was to accomplish.
                        </li>
                        <li class="fa fa-envira">
                            the lessons you learned along the way.
                        </li>
                        <li class="fa fa-envira">
                            what you would do differently.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateChristmas == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You celebrate Christmas. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            have any Christmas traditions?
                        </li>
                        <li class="fa fa-envira">
                            have a favorite Christmas cookie?
                        </li>
                        <li class="fa fa-envira">
                            have a favorite gift you've ever received?
                        </li>
                        <li class="fa fa-envira">
                            have a gift-giving story?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateNYE == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate New Year's Eve. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            always watch the ball drop?
                        </li>
                        <li class="fa fa-envira">
                            go out for a special dinner?
                        </li>
                        <li class="fa fa-envira">
                            have any NYE stories of a night gone wrong?
                        </li>
                        <li class="fa fa-envira">
                            dance the night away?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateThanksgiving == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">
                    <h4>You celebrate Thanksgiving. What...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            is your traditional meal?
                        </li>
                        <li class="fa fa-envira">
                            about a time things didn't go as planned?
                        </li>
                        <li class="fa fa-envira">
                            was the best Thanksgiving?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateValentine == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Valentine's Day. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            go out to a special dinner?
                        </li>
                        <li class="fa fa-envira">
                            celebrate in a unique way?
                        </li>
                        <li class="fa fa-envira">
                            have a memory of the best Valentine's Day?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateEaster == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Easter. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            color Easter eggs?
                        </li>
                        <li class="fa fa-envira">
                            have any special traditions?
                        </li>
                        <li class="fa fa-envira">
                            have a special Easter dinner?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateIndependenceDay == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Independence Day. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            go to Independence Day parades?
                        </li>
                        <li class="fa fa-envira">
                            like fireworks? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="fa fa-envira">
                            barbeque?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateHalloween == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Halloween. What was...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            your best costume?
                        </li>
                        <li class="fa fa-envira">
                            scariest Halloween moment?
                        </li>
                        <li class="fa fa-envira">
                            the best party you went to?
                        </li>
                        <li class="fa fa-envira">
                            the worst costume you ever wore?
                        </li>
                        <li class="fa fa-envira">
                            your trick-or-treat tradition?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateMemorialDay == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Memorial Day. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            have someone you would like to make a tribute to?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateLaborDay == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Labor Day. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            have a story from a barbeque?
                        </li>
                        <li class="fa fa-envira">
                            like to take a trip out of town?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateMothersDay == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Mother's Day. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            have a tradition with your mom?
                        </li>
                        <li class="fa fa-envira">
                            have a memory of your mom to share?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>

        }

        @if (Model.CelebrateFathersDay == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Father's Day. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            have a tradition with your dad?
                        </li>
                        <li class="fa fa-envira">
                            have a memory of your dad to share?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>

        }


        @if (Model.CelebrateChaunakah == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Chaunakah. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            have a special Chaunakah memory?
                        </li>
                        <li class="fa fa-envira">
                            have any unique Chaunakah traditions?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebratePassover == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Passover. What is...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            your favorite part of a Passover Seder?
                        </li>
                        <li class="fa fa-envira">
                            a cherished Passover memory?
                        </li>
                        <li class="fa fa-envira">
                            a unique Passover tradition?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateRoshHashanah == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Rosh Hashanah. What are..</h4>
                    <ul>
                        <li class="fa fa-envira">
                            your unique traditions?
                        </li>
                        <li class="fa fa-envira">
                            your favorite memories of Rosh Hashanah?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelerateYomKippur == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Yom Kippur. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            have any unique traditions?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateRamadan == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Ramadan. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            have memories of fasting during Ramadan?
                        </li>
                        <li class="fa fa-envira">
                            celebrate the end of Ramadan?
                        </li>
                        <li class="fa fa-envira">
                            have memories of an Eid al-Adha feast?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateEID == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Eid al-Adha. What is...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            your favorite tradition?
                        </li>
                        <li class="fa fa-envira">
                            the part you most look forward to?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateSTPat == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate St. Patrick's Day. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            attend a St. Patrick's Day parade?
                        </li>
                        <li class="fa fa-envira">
                            have any yearly traditions?
                        </li>
                        <li class="fa fa-envira">
                            meet your friends at a favorite bar?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateBirthdays == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate birthdays. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            remember the best present you ever received?
                        </li>
                        <li class="fa fa-envira">
                            always throw a party?
                        </li>
                        <li class="fa fa-envira">
                            have advice to give to younger self?
                        </li>
                        <li class="fa fa-envira">
                            take a trip?
                        </li>
                        <li class="fa fa-envira">
                            have something to add to a bucket list?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateChineseNewYear == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Chinese New Year. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            have any special traditions?
                        </li>
                        <li class="fa fa-envira">
                            have a favorite food?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateQuinceanera == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You have celebrated a Quinceañera. Make an event for...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            your or a loved one's Quinceañera.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateBarBatMitzvah == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You have celebrated a Bar/Bat Mitzvah. Make an event for...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            your or a loved one's Bar or Bat Mitzvah.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateDayOfTheDead == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Dia de los Muertos. Do you...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            commemorate those who have passed?
                        </li>
                        <li class="fa fa-envira">
                            have any unique traditions?
                        </li>
                        <li class="fa fa-envira">
                            look forward to any special foods?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateVeteransDay == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Verteran's Day. Why not...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            post a tribute to or memory of a veteran.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>

        }

        @if (Model.CelebrateCincoDeMayo == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>You celebrate Cinco De Mayo. What is...</h4>
                    <ul>
                        <li class="fa fa-envira">
                            one of your traditions?
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.AnythingElse == true)
            {
            <div class="col-md-4 resultBox">
                <div class="thumbnail">

                    <h4>There's a celebration we may have missed.</h4>
                    <ul>
                        <li class="fa fa-envira">
                            Make a post about an important celebration in your life.
                        </li>
                    </ul>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-4 resultBox">
            <div class="thumbnail">
                <h4>
                    @Html.ActionLink("Update Your Celebrations & Holidays", "Edit", new { id = Model.CelebrationID })
                </h4>
                <h4>
                    @Html.ActionLink("Return to Your Profile", "Index")
                </h4>
            </div>
        </div>
    </div>
</div>

<div id="navaay"class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Stemma", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @*@Html.ActionLink("Timeline", "Index", "EventTables", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Timeline", "Index", "EventTables")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                    @*<li>@Html.ActionLink("FAQ", "Contact", "Home")</li>
                <li>@Html.ActionLink("Profile", "Create", "UserProfiles")</li>
                <li>@Html.ActionLink("Create Event", "Create", "EventTables")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
