@model Stemma.Models.Celebration

@{
    ViewBag.Title = "Details";
}

<h2>Celebrations & Holidays</h2>

<h4>Based on how you answered your questionaire, here are some events you might be able to add to your timeline.</h4>

@*logic is added. text needs to be updated.*@

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">*@


        @*<tr>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.HolidayRecently)
        </td>*@

        @if (Model.HolidayRecently == true)
        {
            <p>
            You recently celebrated a holiday.
            </p>
        }
        @*else
        {
            <p>
            You have not recently celebrated a holiday.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.PartyRecently)
        </td>*@
        @if (Model.PartyRecently == true)
        {
            <p>
            You recently attended a party.
            </p>
        }
        @*else
        {
            <p>
            You have not recently attended a party.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.MilestoneRecently)
        </td>*@
        @if (Model.MilestoneRecently == true)
        {
            <p>
            You recently celebrated a milestone.
            </p>
        }
        @*else
        {
            <p>
            You have not celebrated any milestones recently.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateChristmas)
        </td>*@
        @if (Model.CelebrateChristmas == true)
        {
            <p>
            You celebrate Christmas.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Christmas.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateNYE)
        </td>*@
        @if (Model.CelebrateNYE == true)
        {
            <p>
            You celebrate New Year's Eve.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate New Year's Eve.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateThanksgiving)
        </td>*@
        @if (Model.CelebrateThanksgiving == true)
        {
            <p>
            You celebrate Thanksgiving.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Thanksgiving.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateValentine)
        </td>*@
        @if (Model.CelebrateValentine == true)
        {
            <p>
            You celebrate Valentine's Day.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Valentine's Day.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateEaster)
        </td>*@
        @if (Model.CelebrateEaster == true)
        {
            <p>
            You celebrate Easter.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Easter.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateIndependenceDay)
        </td>*@
        @if (Model.CelebrateIndependenceDay == true)
        {
            <p>
            You celebrate Independence Day.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Independence Day.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateHalloween)
        </td>*@
        @if (Model.CelebrateHalloween == true)
        {
            <p>
            You celebrate Halloween.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Halloween.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateMemorialDay)
        </td>*@
        @if (Model.CelebrateMemorialDay == true)
        {
            <p>
            You celebrate Memorial Day.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Memorial Day.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateLaborDay)
        </td>*@
        @if (Model.CelebrateLaborDay == true)
        {
            <p>
            You celebrate Labor Day.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Labor Day.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateMothersDay)
        </td>*@
        @if (Model.CelebrateMothersDay == true)
        {
            <p>
            You celebrate Mother's Day.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Mother's Day.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateFathersDay)
        </td>*@
        @if (Model.CelebrateFathersDay == true)
        {
            <p>
            You celebrate Father's  Day.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Father's Day.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateChaunakah)
        </td>*@
        @if (Model.CelebrateChaunakah == true)
        {
            <p>
            You celebrate Chaunakah.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Chaunakah.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebratePassover)
        </td>*@
        @if (Model.CelebratePassover == true)
        {
            <p>
            You celebrate Passover.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Passover.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateRoshHashanah)
        </td>*@
        @if (Model.CelebrateRoshHashanah == true)
        {
            <p>
            You celebrate Rosh Hashanah.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Rosh Hashanah.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelerateYomKippur)
        </td>*@
        @if (Model.CelerateYomKippur == true)
        {
            <p>
            You celebrate Yom Kippur.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Yom Kippur.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateRamadan)
        </td>*@
        @if (Model.CelebrateRamadan == true)
        {
            <p>
            You celebrate Ramadan.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Yom Kippur.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateEID)
        </td>*@
        @if (Model.CelebrateEID == true)
        {
            <p>
            You celebrate Eid.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Eid.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateSTPat)
        </td>*@
        @if (Model.CelebrateSTPat == true)
        {
            <p>
            You celebrate St. Patrick's Day.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate St. Patrick's Day.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateBirthdays)
        </td>*@
        @if (Model.CelebrateBirthdays == true)
        {
            <p>
            You celebrate birthdays.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate birthdays.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateChineseNewYear)
        </td>*@
        @if (Model.CelebrateChineseNewYear == true)
        {
            <p>
            You celebrate Chinese New Year.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Chinese New Year.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateQuinceanera)
        </td>*@
        @if (Model.CelebrateQuinceanera == true)
        {
            <p>
            You celebrate Quinceaneras.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Quinceanera.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateBarBatMitzvah)
        </td>*@
        @if (Model.CelebrateBarBatMitzvah == true)
        {
            <p>
            You celebrate Bar/Bat Mitzvahs.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Bar/Bat Mitzvahs.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateDayOfTheDead)
        </td>*@
        @if (Model.CelebrateDayOfTheDead == true)
        {
            <p>
            You celebrate Day Of The Dead.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Day Of The Dead.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateVeteransDay)
        </td>*@
        @if (Model.CelebrateVeteransDay == true)
        {
            <p>
            You celebrate Veteran's Day.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Veteran's Day.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.CelebrateCincoDeMayo)
        </td>*@
        @if (Model.CelebrateCincoDeMayo == true)
        {
            <p>
            You celebrate Cinco De Mayo.
            </p>
        }
        @*else
        {
            <p>
            You do not celebrate Cinco De Mayo.
            </p>
        }*@

        @*<td>
            @Html.DisplayFor(modelItem => item.AnythingElse)
        </td>*@
        @if (Model.AnythingElse == true)
        {
            <p>
            You have another holiday or celebration you would like to recognize.
            </p>
        }
        @*else
        {
            <p>
            You do not another holiday or celebration you would like to recognize..
            </p>
        }*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CelebrationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
