@model Stemma.Models.Celebration
<link href="~/Content/detailsCSS.css" rel="stylesheet" />

@{
    ViewBag.Title = "Suggestions for Celebration Stems";
}

<h2>Celebrations & Holidays</h2>
<div>
    <h4>Based on your answers, here are some ideas to add to your Stemma:</h4>
    <hr />
    <div class="rowDetails">

        @if (Model.HolidayRecently == true)

        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You've recently celebrated a holiday.</h4>
                    <p>
                        Post a picture.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }


        @if (Model.PartyRecently == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You recently attended a party.</h4>
                    <p>
                        Who did you go with?
                    </p>
                    <p>
                        Was the food any good?
                    </p>
                    <p>
                        Was it for another orgnaization or company?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.MilestoneRecently == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You recently celebrated a milestone. Talk about...</h4>
                    <p>
                        how hard it was to accomplish.
                    </p>
                    <p>
                        the lessons you learned along the way.
                    </p>
                    <p>
                        what you would do differently.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateChristmas == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You celebrate Christmas. Do you...</h4>
                    <p>
                        have any Christmas traditions?
                    </p>
                    <p>
                        have a favorite Christmas cookie?
                    </p>
                    <p>
                        have a favorite gift you've ever received?
                    </p>
                    <p>
                        have a gift-giving story?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateNYE == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate New Year's Eve. Do you...</h4>
                    <p>
                        always watch the ball drop?
                    </p>
                    <p>
                        go out for a special dinner?
                    </p>
                    <p>
                        have any NYE stories of a night gone wrong?
                    </p>
                    <p>
                        dance the night away?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateThanksgiving == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <h4>You celebrate Thanksgiving. What...</h4>
                    <p>
                        is your traditional meal?
                    </p>
                    <p>
                        about a time things didn't go as planned?
                    </p>
                    <p>
                        was the best Thanksgiving?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateValentine == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Valentine's Day. Do you...</h4>
                    <p>
                        go out to a special dinner?
                    </p>
                    <p>
                        celebrate in a unique way?
                    </p>
                    <p>
                        have a memory of the best Valentine's Day?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateEaster == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Easter. Do you...</h4>
                    <p>
                        color Easter eggs?
                    </p>
                    <p>
                        have any special traditions?
                    </p>
                    <p>
                        have a special Easter dinner?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateIndependenceDay == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Independence Day. Do you...</h4>
                    <p>
                        go to Independence Day parades?
                    </p>
                    <p>
                        like fireworks?
                    </p>
                    <p>
                        barbeque?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateHalloween == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Halloween. What was...</h4>
                    <p>
                        your best costume?
                    </p>
                    <p>
                        scariest Halloween moment?
                    </p>
                    <p>
                        the best party you went to?
                    </p>
                    <p>
                        the worst costume you ever wore?
                    </p>
                    <p>
                        your trick-or-treat tradition?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateMemorialDay == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Memorial Day. Do you...</h4>
                    <p>
                        have someone you would like to make a tribute to?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateLaborDay == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Labor Day. Do you...</h4>
                    <p>
                        have a story from a barbeque?
                    </p>
                    <p>
                        like to take a trip out of town?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateMothersDay == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Mother's Day. Do you...</h4>
                    <p>
                        have a tradition with your mom?
                    </p>
                    <p>
                        have a memory of your mom to share?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>

        }

        @if (Model.CelebrateFathersDay == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Father's Day. Do you...</h4>
                    <p>
                        have a tradition with your dad?
                    </p>
                    <p>
                        have a memory of your dad to share?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>

        }


        @if (Model.CelebrateChaunakah == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Chaunakah. Do you...</h4>
                    <p>
                        have a special Chaunakah memory?
                    </p>
                    <p>
                        have any unique Chaunakah traditions?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebratePassover == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Passover. What is...</h4>
                    <p>
                        your favorite part of a Passover Seder?
                    </p>
                    <p>
                        a cherished Passover memory?
                    </p>
                    <p>
                        a unique Passover tradition?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateRoshHashanah == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Rosh Hashanah. What are..</h4>
                    <p>
                        your unique traditions?
                    </p>
                    <p>
                        your favorite memories of Rosh Hashanah?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelerateYomKippur == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Yom Kippur. Do you...</h4>
                    <p>
                        have any unique traditions?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateRamadan == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Ramadan. Do you...</h4>
                    <p>
                        have memories of fasting during Ramadan?
                    </p>
                    <p>
                        celebrate the end of Ramadan?
                    </p>
                    <p>
                        have memories of an Eid al-Adha feast?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateEID == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Eid al-Adha. What is...</h4>
                    <p>
                        your favorite tradition?
                    </p>
                    <p>
                        the part you most look forward to?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateSTPat == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate St. Patrick's Day. Do you...</h4>
                    <p>
                        attend a St. Patrick's Day parade?
                    </p>
                    <p>
                        have any yearly traditions?
                    </p>
                    <p>
                        meet your friends at a favorite bar?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateBirthdays == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate birthdays. Do you...</h4>
                    <p>
                        remember the best present you ever received?
                    </p>
                    <p>
                        always throw a party?
                    </p>
                    <p>
                        have advice to give to younger self?
                    </p>
                    <p>
                        take a trip?
                    </p>
                    <p>
                        have something to add to a bucket list?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateChineseNewYear == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Chinese New Year. Do you...</h4>
                    <p>
                        have any special traditions?
                    </p>
                    <p>
                        have a favorite food?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateQuinceanera == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You have celebrated a Quinceañera. Make an event for...</h4>
                    <p>
                        your or a loved one's Quinceañera.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateBarBatMitzvah == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You have celebrated a Bar/Bat Mitzvah. Make an event for...</h4>
                    <p>
                        your or a loved one's Bar or Bat Mitzvah.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateDayOfTheDead == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Dia de los Muertos. Do you...</h4>
                    <p>
                        commemorate those who have passed?
                    </p>
                    <p>
                        have any unique traditions?
                    </p>
                    <p>
                        look forward to any special foods?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.CelebrateVeteransDay == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Verteran's Day. Why not...</h4>
                    <p>
                        post a tribute to or memory of a veteran.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>

        }

        @if (Model.CelebrateCincoDeMayo == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>You celebrate Cinco De Mayo. What is...</h4>
                    <p>
                        one of your traditions?
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (Model.AnythingElse == true)
        {
            <div class="col-md-4">
                <div class="thumbnail">

                    <h4>There's a celebration we may have missed.</h4>
                    <p>
                        Make a post about an important celebration in your life.
                    </p>
                    <div class="EntryButton">
                        <a href='@Url.Action("Create", "EventTables")'>
                            <input type='button' value='Make An Entry' class="btn btn-default" />
                        </a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
    <p>
        @Html.ActionLink("Update Your Celebrations & Holidays", "Edit", new { id = Model.CelebrationID }) |
        @Html.ActionLink("Return to Your Profile", "Index")
    </p>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("Stemma", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            @Html.ActionLink("Timeline", "Index", "EventTables", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Get Started", "Contact", "Home")</li>*@
                <li>@Html.ActionLink("Profile", "Create", "UserProfiles")</li>
                <li>@Html.ActionLink("Create Event", "Create", "EventTables")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("FAQ", "Contact", "Home")</li>
            </ul>

        </div>
    </div>
</div>
